<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TECHnique</title>
   <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="flex-column justify-space-around content">
    <header class="display-flex justify-space-around align-center p-2">
      <h1>
        {{#if onDashboard}}
          My Dashboard
        {{else}}
          TECHnique - Tech Blog
        {{/if}}
      </h1>
      <nav class="nav">
        <button class="btn-styled"><a href="/" class="nav-link">Home</a></button>
          {{#if logged_in}}
          <button class="btn-styled"><a href="/dashboard" class="nav-link">Dashboard</a></button>
       <button class="btn-styled" id="logout">Log Out</a></button>
       {{else}}
        <button class="btn-styled"><a href="/login" class="nav-link"id="login">Login/Signup</a></button>
        {{/if}}
      </nav>

    </header>
  </div>
  <main>
    {{{body}}}
  </main>
  {{#if logged_in}}
    <script src="/js/logout.js"></script>
  {{/if}}
</body>
</html>