<div class="display-flex flex-column">
  {{#each userBlogPosts}}
      <div class="card flex-wrap">
      <div class="card-header">
        <h3><a href="./blogPost.handlebars">{{this.title}}</a></h3>
        <p>{{format_date this.date_created}}</p>
      </div>
    </div>
  {{/each}}
  <button class="btn-styled"><a href="/blogPost">+ New Post</a></button>
</div>