<h2 class="welcome-name"> Welcome, {{username}}!</h2>
<div class="display-flex flex-column">
  {{#each blogPosts}}
      <div class="card flex-wrap">
      <div class="card-header">
        <h3><a href="/api/blogposts/{{this.id}}">{{this.title}}</a></h3>
        <p>{{format_date this.date_created}}</p>
      </div>
    </div>
  {{/each}}
  <button class="btn-styled"><a href="/create">+ New Post</a></button>
</div>