<div class="display-flex flex-column">
  {{#each blogPosts }}
    <div class="card flex-wrap">
      <div class="card-header">
        <h3><a href="/blogPost">{{this.title}}</a></h3>
        <p>Posted by {{this.creator.username }} on {{format_date this.date_created}}</p>
      </div>
      <p class="card-body">{{this.content}}</p>
    </div>
  {{/each}}
</div>